.item {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 72px;
  list-style: none;
  padding: 0 20px 0 16px;
}

.item-avatar {
  align-items: center;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  height: 24px;
  margin-right: 16px;
  padding: 8px;
  position: relative;
  width: 24px;
}

.item-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.item-title {
  color: rgba(0, 0, 0, .87);
  font-size: 16px;
  line-height: 24px;
}

.item-subtitle {
  color: rgba(0, 0, 0, .54);
  font-size: 14px;
  line-height: 20px;
}

.item img {
  max-height: 24px;
  max-width: 24px;
}
